#purna{
    background-color: blueviolet;
}
 /* Cursor */
.typed-cursor {
}

/* If fade out option is set */
.typed-fade-out {
}
#typed-strings {
font-size: 9px;
        color: blueviolet;
}
#bio {
 font-size: 10px;
}
